.DS_STORE/
.idea/
.cache/
*.iml
*.log
.php_cs.cache
.env
.php_cs.cache
_ide_helper_models.php
_ide_helper.php
frontend/screenshots/
frontend/test/unit/coverage/
frontend/test/e2e/reports/
coverage/
statistics/
.cache
.git/
.bundler/
.circle/
.dev/
.github/
node_modules/
vendor/
storage/logs/
statistics/
log/
public/storage/
